<!--<agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" [(fitBounds)]='location.viewport'>-->
  <!--<agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng"-->
              <!--[markerDraggable]="location.marker.draggable"></agm-marker>-->

  <!--<agm-circle [latitude]="location.lat" [longitude]="location.lng"-->
              <!--[(radius)]="circleRadius"-->
              <!--[fillColor]="'blue'"-->
              <!--[circleDraggable]="true"-->
              <!--[editable]="true"></agm-circle>-->
<!--</agm-map>-->

<!--<div #gmap style="width:100%;height:400px"></div>-->
<!--<iframe src="https://www.google.com/maps/embed?pb" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.1423112382263!2d77.64141621437514!3d12.962744090861724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae141c33dd2449%3A0xc78fce596c04611!2sBetaTest+Solutions+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1536743537313" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
