<!--<nav class='navbar navbar-expand-sm bg-dark navbar-dark'>-->
<nav class='navbar navbar-expand-sm navbar-dark bg-company-dark'>
  <div class="navbar-header">
    <a class='navbar-brand'>
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/04/8c/2f/6e/congress-bar-grill.jpg" alt="Logo" style="width:80px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <form class="navbar-form w-100 justify-content-center" role="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn"><button type="submit" class="btn btn-default">Search</button></span>
      </div>
    </form>
    <ul class='nav navbar-nav ml-auto w-100 justify-content-end'>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/products']">Products and Services</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/about']">About</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
          <a class="dropdown-item" routerLinkActive='active' [routerLink]="['/Link1']">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
