<!--<div class="card">-->
  <!--<div class="card-header">-->
    <!--{{pageTitle}}-->
  <!--</div>-->
  <!--<div class="card-body">-->
    <!--<div class="container-fluid">-->
      <!--<div class="text-center">-->
	  <!--<img src="https://cdn.dribbble.com/users/4536/screenshots/1399681/circle_check_sierra60.gif"-->
             <!--class="img-responsive center-block"-->
             <!--style="max-height:300px;padding-bottom:50px" />-->
      <!--</div>-->

      <!--<div class="text-center">Developed by:</div>-->
      <!--<div class="text-center">-->
        <!--<h3>Nidhi</h3>-->
      <!--</div>-->

      <!--<div class="text-center">@RampyariCotoure</div>-->
      <!--<div class="text-center">-->
        <!--<a href="http://www.google.com">Google</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
